body{
    margin: 0;
    padding: 0;
    background: rgb(1, 1, 11);
    color: white;
}
.container{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock{
    font-size: 8em;
}
#calendar{
    font-size: 4em;
}