body{
    font-family: 'Chivo Mono', monospace;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: rgb(1, 1, 11);
    color: whitesmoke;
    
}
#calendar, #clock{
    cursor:default;
}
#clock {
    /* other styles */
    transform: translateY(0);
    transition: transform 0.5s;
  }
  
  #clock:hover {
    transform: translateY(-10px);
  }
  #clock:not(:hover) {
    transform: translateY(0);
  }
    
.container{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
#clock{
    font-size: 8em;
}
#calendar{
    font-size: 4em;
}